body{
	background-size: cover;
	text-align: center;
}
h2{
	margin-bottom: 24px;
}
.mycontainer{
	margin-top: 60px;
	background-color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	padding: 25px;
	border-radius: 15px;
}
input{
	max-width: 65px;
	text-align: center;
}
hr{
	margin-top: 25px;
	margin-bottom: 25px;
	border-top: 2px black solid;
	max-width: 500px;
}
#icon-container{
	font-size: 80px;
	line-height: 1;
}
#summary-container{
	font-family: 'Shadows Into Light', cursive;
	font-size: 48px;
	margin-top: 10px;
}
button{
	margin-bottom: 5px;
	margin-left: 5px;
}